.jumbofun {
  background-image: url("./assets/tech.jpg");
  background-position: center;
  background-size: cover;
}

.homepage {
  background-image: url("./assets/building.jpg");
  width: 100%;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.contactpage {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  /* max-width: 1200px; */
  /* min-width: 280px; */
}

.cards {
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

.sidebar {
  position: sticky;
  max-width: 250px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: aqua;
}

.container1 {
  display: flex;
}
