.jumbofun {
  background-image: url("./assets/tech.jpg");
  background-position: center;
  background-size: cover;
}

.homepage {
  background-image: url("./assets/building.jpg");
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.contactpage {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  max-width: 1200px;
  /* min-width: 280px; */
}

.card1 {
  display: flex;
  /* float: right; */
}

.card2 {
  display: flex;
  /* float: left; */
  position: relative;
}

.card3 {
  display: flex;
  /* float: right; */
}
